*{
    margin:0;
    padding:0;
}
body,html{
    height:100%;
}
header{
   
    padding:10px 0 10px 0;
    background-color:green;
    text-align:center;
    color:white;
}
footer{
    padding:10px 0 10px 0;
    background-color:black;
    text-align:center;
    color:white;
}
.bigbox {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction:row;
}
.left_coulmn {
    padding: 20px 30px 20px 30px;
    background-color: red;
    align-items:stretch;
}
.text_coulmn {
    max-width: 600px;
    padding: 30px;
}  
p::selection{
    background-color:green;
    color:white;
}
 span{
     color:red;
     font-size:30px;
     font-weight:bold;
 }
a{
    color:white;
}
a:hover{
    background-color:green;
}
ul{
    list-style:none;
    width:150px;
}
li{
    margin-bottom:10px;
}
